.dart_tool/
.idea/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.metadata
.packages
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/ServiceDefinitions.json
pubspec.lock
.DS_Store
