<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCH93jZj_OSCBkfWI9v2j28v2ZQjmw2DY</string>
	<key>GCM_SENDER_ID</key>
	<string>960289563794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>to-do-app-0912</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-app-0912.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960289563794:ios:ceef55c52e0a1b841bb24b</string>
</dict>
</plist>